body {
	font-family: Libre Franklin, regular;
	font-size: 1em;
	line-height: 1.5em;
	background-image: url(../img/background.jpg);
	background-size:cover ;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

#main-header {

	height: 80px;

	width: 100%;
	/* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0;
	/* Posicionamos la cabecera al lado izquierdo */
	top: 0;
	/* Posicionamos la cabecera pegada arriba */
	position: fixed;
	/* Hacemos que la cabecera tenga una posición fija */
}

#main {
	font-family: Libre Franklin, regular;	
}

#contenedorDS {
	text-align: left;
}

select{
	display: inline-block;
	width: 59%;
}

label{
	display: inline-block;
	width: 90%;
}

#Des{
	width: 50%;
	overflow: scroll;
	resize: vertical;
	max-block-size: 50%;
}

#contenedorForm::-webkit-scrollbar{
	display: none;
}


#contenedorForm{
	text-align: left;
	border-radius: 5%;
	background-color: white;
	overflow: auto;
	width:40%;
	height: 100%;
	margin: 0px auto;
}